<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Delius&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/css/reset.css')}}">
        <script src="https://kit.fontawesome.com/ba3827f4da.js"></script>

        <link rel="stylesheet" href="{{asset('assets/css/form.css')}}">
    </head>
    <body class='body'>
        <div class="form-wrapper"> {% block title_form %}{% endblock %}{% block content %}{% endblock %}

            </div>

        </body>
    </html>
