{% extends 'base.html.twig' %}

{% block title %}Tag index
{% endblock %}

{% block content %}
    <h1>Liste des tags</h1>
    <div class='container-table'>
        <table class="table">
            <thead>
                <tr class='table-head'>
                    <th class= "column1">Id</th>
                    <th class= "column2">Nom</th>
                    <th class= "column3"></th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td class= "column1">{{ tag.id }}</td>
                        <td class= "column2">{{ tag.name }}</td>
                        <td class= "column3">
                            <a href="{{ path('backend_tag_show', {'id': tag.id}) }}">Voir</a>
                            <a href="">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('backend_tag_new')}}">Créer un tag</a>
{% endblock %}
